<%%= parsley_form_for([@<%= singular_table_name %>.<%= nested_parent_name %>, @<%= singular_table_name %>]) , html: {class: 'form-horizontal' } do |f| %>
<div class="box box-warning">
<div class="box-header">
<h3><%= eval(class_name).model_name.human%></h3>
</div><!-- /.box-header -->
<div class="box-body">

  <%- attributes.each do |attribute| -%>
    <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %> , wrapper_html: { class: "col-md-12" } %>
  <%- end -%>
  </div><!-- /.box-body -->
  <div class="box-footer">
  <%%= f.button :submit %>
  </div><!-- /.box-footer -->
</div>
<%% end %>