<div class="box box-warning">

<div class="box-header with-border">
  <h3 class="box-title"><%= eval(class_name).model_name.human%></h3>
</div>

<div class="box-body">
<%%= show_for @<%= singular_name %> do |s| %>
<% attributes.each do |attribute| -%>
  <%%= s.<%= attribute.reference? ? :association : :attribute %> :<%= attribute.name %> %>
<% end -%>
<%% end %>
</div>

<div class="box-footer">
  <%%= link_to "Voltar", <%= nested_parent_name %>_<%= index_helper %>_path(@<%= singular_table_name %>.<%= nested_parent_name %>) %>
  &nbsp;|&nbsp;
  <%%= link_to "Editar", edit_<%= nested_parent_name %>_<%= singular_table_name %>_path(@<%= singular_table_name %>.<%= nested_parent_name %>, @<%= singular_table_name %>) %>
</div>

</div>